<html>
<body>

<div>
<img src="/media/embitel_logo.png" alt="EMBITEL" height="13%" width="18%">

    <div>
    <img style="float:right;" src="/media/pushnotifications1.png"></div>
<div style="position: absolute; top: 10; right: 30;">
<form action='/logout/'>
    <input style="background-color:#F29900" type="submit" id= "logout" name="logout" value="Logout" />
</form>
</div>


<p/></p> 
<link rel="stylesheet" type="text/css" href="/media/app.css" />
    <div id="menu" class="menu">
        <!-- menu elements -->
        <div class="menu-element">
            <a href='/embitel/vault/'><b>Dashboard</b></a>
        </div>
        <div class="menu-element">
            <a href='/embitel/upload_certificate/'><b>IOS Push Notifications</b></a>
        </div>
    </div>


<p/>

{% if objects %}
    <p>
    Your Applications and Tokens:</p>
    <table border="1" width="75%">
        <tr>
           <td align="center"><b>App Name</b></td> <td align="center"><b>Token</b></td> <td align="center"><b> Published date </b></td>
           <td align="center"><b> Send Message</b></td>
        </tr>

    {% for obj in objects %}
        <tr>
            <td align="center">{{ obj.app_name }}</td> <td align="center">{{ obj.emb_token }}</td> <td align="center">{{ obj.created_at }}</td>
            <td align="center"><a href="/embitel/configure_PN/{{ obj.id }}/">Click Here</a></td>
        </tr>
    {% endfor %}

    </table>
{% else  %}
<p>
<b>You haven't generated token for any of your applications.</b>
</p>
<p>
<a href="/embitel/upload_certificate/"><b>Click here</b></a> to generate token for your application.!
</p>
{% endif %}
</body>
</html>
